* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

.login-container,
.registration-container {
        max-width: 900px;
        background-color: white;
        padding: 20px;
        margin-top: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
        height: 750px;
        width: 1000px;
        margin-left: 500px;
}

.form-control {
        width: 500px;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        display: block;
        box-sizing: border-box;

}

.form-check-input {
        margin-top: 0.3rem;

}

.is-invalid {
        border-color: red !important;
}

.form-text {
        margin-left: 175px;
}

.registration-container label,
.registration-container input,
.registration-container .btn,
.login-container label,
.login-container input,
.login-container .btn {
        font-size: 15px;
}

.registration-container small,
.login-container small {
        font-size: 10px;
        text-align: center;
}

.registration-container label,
.registration-container small,
.login-container small,
.login-container label {
        display: block;
        margin-left: 175px;
}

.registration-container .btn,
.login-container .btn {
        display: block;
}


.button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

}


.button-group button {
        flex: 1;
        margin-right: 175px;
        margin-left: 174px
}

.center-text {
        text-align: center;
}

@media (max-width: 576px) {

        .login-container,
        .registration-container {
                margin: 50px auto;
        }
}